<li class="list-group-item">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= message.content %></p>
      <footer class="blockquote-footer"><%= message.created_at %></footer>
    </div>
  </div>
</li>