<li class="list-group-item">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= message.content %></p>
      <footer class="blockquote-footer">
        <%= message.user.name %> - <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
      </footer>
    </div>
  </div>
</li>