
<div class="terms-container text-center text-white" style="background-color: rgba(0, 0, 0, 0.7); color: white;">
    <h1>プライバシーポリシー</h1>

    <p>管理者は、お客様の個人情報を適切に保護することを重要な責務と考え、以下の通りプライバシーポリシーを定めます。</p>

    <h3>1. 収集する情報の種類</h3>
    <p>管理者は、以下の情報を収集することがあります</p>
    <ul>
      氏名、メールアドレス</br>
    </ul>

    <h3>2. 情報の収集方法</h3>
    <p>管理者は、以下の方法で情報を収集します</p>
    <ul>
      ユーザーがアカウントを作成する際に提供する情報</br>
      ユーザーがサービスを利用する際に収集される情報
    </ul>

    <h3>3. 情報の利用目的</h3>
    <p>管理者は、収集した情報を以下の目的で利用します</p>
    <ul>
      サービスの提供および改善</br>
      法令遵守のための利用
    </ul>

    <h3>4. 情報の共有および提供</h3>
    <p>管理者は、以下の場合に情報を第三者と共有することがあります</p>
    <ul>
      サービスプロバイダーとの共有</br>
      法的要件に応じるための共有
    </ul>

    <h3>5. 情報の保護</h3>
    <p>管理者は、個人情報を保護するために以下の対策を講じます</p>
    <ul>
      暗号化</br>
      アクセス制御</br>
    </ul>

    <h3>6. ユーザーの権利</h3>
    <p>ユーザーは、以下の権利を有します</p>
    <ul>
      個人情報のアクセス、修正、削除の要求
    </ul>

    <h3>7. クッキーおよびトラッキング技術</h3>
    <p>管理者は、クッキーおよびトラッキング技術を使用して、サービスの向上を図ります。</br>ユーザーは、ブラウザの設定によりクッキーの管理が可能です。</p>

    <h3>8. データ保持期間</h3>
    <p>管理者は、収集した情報を必要な期間保持し、その後適切に廃棄します。</p>

    <h3>9. 未成年者のプライバシー</h3>
    <p>管理者は、未成年者からの情報収集に特別な注意を払います。親権者の同意なしに未成年者の個人情報を収集しません。</p>

    <h3>10. プライバシーポリシーの変更</h3>
    <p>管理者は、必要に応じて本ポリシーを変更することがあります。変更後のポリシーは、本ウェブサイトに掲載された時点から効力を発します。</p>
  </div>