<br>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プライバシーポリシー</title>
    <style>
    .terms-container {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 20px;
        max-width: 1000px;
        margin: auto;
        text-align: left;
        }
    .terms-container h3, .terms-container h4, .terms-container p {
          margin: 0 0 1em 0; /* 上下のマージンを統一 */
    }
    .terms-container p {
          text-indent: 2em; /* インデントを追加 */
    }
    </style>
</head>
<body>
<div class="terms-container text-white" style="background-color: rgba(0, 0, 0, 0.7); color: white;">

    <h1 style="text-align: center;">プライバシーポリシー</h1></br>
    </br>
    </br>

    管理者は、お客様の個人情報を適切に保護することを重要な責務と考え、以下の通りプライバシーポリシーを定めます。</br>
    </br>

    <h3>1. 収集する情報の種類</h3>
    ⚫︎管理者は、以下の情報を収集します</br>
    </br>
    1. 氏名、メールアドレス</br>
    </br>

    <h3>2. 情報の収集方法</h3>
    ⚫︎管理者は、以下の方法で情報を収集します</br>
    </br>
    1. ユーザーがアカウントを作成する際に提供する情報</br>
    2. ユーザーがサービスを利用する際に収集される情報</br>
    </br>

    <h3>3. 情報の利用目的</h3>
    ⚫︎管理者は、収集した情報を以下の目的で利用します</br>
    </br>
    1. サービスの提供および改善</br>
    2. 法令遵守のための利用</br>
    3. サービスについてのご連絡</br>
    </br>

    <h3>4. 情報の共有および提供</h3>
    ⚫︎管理者は、以下の場合に情報を第三者と共有することがあります</br>
    1. サービスプロバイダーとの共有</br>
    2. 法的要件に応じるための共有</br>
    </br>
    <h3>5. 情報の保護</h3>
    ⚫︎管理者は、個人情報を保護するために以下の対策を講じます</br>
    </br>
    1. 暗号化</br>
    2. アクセス制御</br>
    </br>

    <h3>6. ユーザーの権利</h3>
    ⚫︎ユーザーは、以下の権利を有します</br>
    </br>
    1. 個人情報のアクセス、修正、削除の要求</br>
    </br>

    <h3>7. クッキーおよびトラッキング技術</h3>
    ⚫︎管理者は、クッキーおよびトラッキング技術を使用して、サービスの向上を図ります。</br>
    ユーザーは、ブラウザの設定によりクッキーの管理が可能です。</br>
    </br>

    <h3>8. データ保持期間</h3>
    ⚫︎管理者は、収集した情報を必要な期間保持し、その後適切に廃棄します。</br>
    </br>
    <h3>9. 未成年者のプライバシー</h3>
    ⚫︎管理者は、未成年者からの情報収集に特別な注意を払います。親権者の同意なしに未成年者の個人情報を収集しません。</br>
    </br>
    <h3>10. プライバシーポリシーの変更</h3>
    ⚫︎管理者は、必要に応じて本ポリシーを変更することがあります。変更後のポリシーは、本ウェブサイトに掲載された時点から効力を発します。</br>
    </br>
    <h3>11.お問い合わせ</h3>
    ⚫︎お客様の情報の開示、利用停止、情報の削除をご希望の場合は、<a href="https://forms.gle/4AQ6kPbZMGsZvXQn6" target="_blank">お問い合わせ</a>よりご連絡ください。
</div>
<br>
<br>
<br>
<br>