<body>
  <div class="terms-container text-center text-white" style="background-color: rgba(0, 0, 0, 0.7); color: white;">
    <h1>利用規約</h1>
    <p>
      本利用規約（以下、「本規約」といいます。）は、[Live Fes]（以下、「本サービス」といいます。）の利用条件を定めるものです。</br>
      本サービスを利用されるお客様（以下、「ユーザー」といいます。）は、本規約に同意いただいたものとみなします。
    </p>

    <p>
    <h3>第1条（定義）</h3>
      1. 「本サービス」とは、[管理者]が提供する[チャットサービス]をいいます。</br>
      2. 「ユーザー」とは、本サービスを利用する個人または法人をいいます。
    </p>

    <p>
    <h3>第2条（利用者の責任）</h3>
      1. ユーザーは、本サービスを適正に利用するものとします。</br>
      2. ユーザーは、自己のアカウント情報の管理および使用に関する責任を負います。
    </p>


    <p>
    <h3>第3条（サービスの提供）</h3>
      1. 本サービスは、[チャットサービス]を提供します。</br>
      2. [管理者]は、事前の通知なく本サービスの内容を変更、中断または終了することがあります。
      </p>

      <p>
      <h3>第4条（個人情報の取り扱い）</h3>
      ユーザーの個人情報の取り扱いについては、プライバシーポリシーに従うものとします。
      </p>

      <p>
      <h3>第5条（知的財産権）</h3>
      1. 本サービスに関する知的財産権は、すべて[管理者]または正当な権利を有する第三者に帰属します。</br>
      2. ユーザーが本サービスにアップロードしたコンテンツの著作権は、ユーザーに帰属しますが、[管理者]は当該コンテンツを利用する権利を有します。
      </p>

      <p>
      <h3>第6条（禁止事項）</h3>
      ユーザーは、以下の行為を行ってはなりません。</br>
      1. 法令または公序良俗に違反する行為</br>
      2. 他のユーザーまたは第三者に対する嫌がらせや誹謗中傷
      </p>

      <p>
      <h3>第7条（免責事項）</h3>
      1. [管理者]は、本サービスに関していかなる保証も行いません。</br>
      2. ユーザーが本サービスを利用することによって生じた損害について、[管理者]は一切の責任を負いません。
      </p>

      <p>
      <h3>第8条（準拠法および裁判管轄）</h3>
      本規約の解釈および適用については、日本法を準拠法とします。また、本サービスに関して紛争が生じた場合、[管理者]の所在地を管轄する裁判所を専属的合意管轄とします。</br>
      </p>

    <p>
    <h3>第9条（規約の変更）</h3>
      [管理者]は、必要と判断した場合には、ユーザーに通知することなく本規約を変更できるものとします。変更後の規約は、本サービスに掲載された時点から効力を生じるものとします。
    </p>
  </div>
</body>
