<div class="container">
  <div class="row justify-content-center" style="max-height: 90vh; overflow-y: auto;">
    <div class="col-md-10 text-white text-center mt-5">
      </br>
      <h4 style="border: 2px solid #498bc9; background-color: rgba(44, 62, 80, 0.5); color: #ecf0f1; padding: 10px; border-radius: 5px; display: inline-block; margin: 0 auto; white-space: nowrap; min-width: 130px; opacity: 0.8;">
        <%= @live_event.name %>
      </h4>
      </br>
      </br>
      <% if @live_event.artists.any? %>
        <% @live_event.artists.each do |artist| %>
          <div class="d-flex justify-content-center">
            <%= link_to artist_musics_path(artist, live_event_id: @live_event.id), class: 'btn btn-slash' do %>
              <span><%= artist.name %></span>
            <% end %>
          </div>
          </br>
        <% end %>
      <% else %>
        <p>アーティストは登録されていません。</p>
      <% end %>
    </div>
  </div>
</div>
