<div class="container"><br>
  <div class="row justify-content-center live-event-container"><br>
    <div class="col-12 col-md-10 text-white text-center mt-3 mt-md-5">
      <h4 class="live-event-title mb-4">
        <%= @live_event.name %>
      </h4><br><br><br>
      <% if @live_event.artists.any? %>
        <% @live_event.artists.each do |artist| %>
          <div class="d-flex justify-content-center">
            <%= link_to artist_musics_path(artist, live_event_id: @live_event.id), class: 'btn btn-slash' do %>
              <span><%= artist.name %></span>
            <% end %>
          </div><br>
        <% end %>
      <% else %>
        <p>アーティストは登録されていません。</p>
      <% end %>
    </div>
  </div>
</div>
