<div class="container">
<div class="row justify-content-center">
    <div class="col-md-3 text-white text-center">
    <h4><%= @artist.name %></h4>
      <!-- @musicsが存在し、かつ中に音楽が含まれている場合の処理 -->
      <% if @musics && @musics.any? %>
        <div class="list-group">
          <% @musics.each_with_index do |music, index| %>
            <!-- 各音楽アイテムをリストグループアイテムとして表示します -->
            <div class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-sm rounded" style="background-color: rgba(248, 249, 250, 0.4);">
              <div class="d-flex align-items-center flex-grow-1">
                <!-- 曲の番号と名前全体をリンクにします -->
                <%= link_to artist_music_path(@artist, music[:id]), class: 'text-decoration-none text-dark d-flex align-items-center w-100' do %>
                  <h5 class="mb-0 me-3 flex-grow-1">
                    <%= "#{index + 1}. #{music[:name]}" %>
                  </h5>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <!-- 音楽が見つからなかった場合の警告メッセージ -->
        <div class="alert alert-warning" role="alert">
          音楽が見つかりませんでした。
        </div>
      <% end %>
    </div>
  </div>
</div>
