<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
      <!-- Spotify 埋め込みプレイヤー -->
      <iframe src="https://open.spotify.com/embed/track/<%= @music.spotify_track_id %>"
              width="300"
              height="380"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
      </iframe>
  </div>
</div>
